PORT="4800"
CONTEXT="/api/v1"

CORS_ORIGIN="http://localhost:5173"

DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_USERNAME="postgres"
DATABASE_PASSWORD="tu_password"
DATABASE_NAME="orbiflowtracker"
JWT_SECRET="tu_secret_token"

MODE_ENV="dev"

EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USER="tu_correo@gmail.com"
EMAIL_PASSWORD="tu_app_password"
EMAIL_FROM='"OrbiFlow" <noreply@orbiflow.com>'